.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.8rem 3rem;
    color: white;
    position: sticky !important;
}

.navbar.light {
    background-color: #0679cb;
}

.navbar.dark {
    background-color: black;
}


.navbar .appTitle p {
    margin: 0;
    font-size: 2rem;
}

.navbar .search input {
    height: 3.5rem;
    width: 35rem;
    border-radius: 2rem;
    padding: 0 1rem;
    font-size: 1.4rem;
    border: 0px solid white;
}

.themeButton button {
    height: 2.8rem;
    padding: 0 1.5rem;
    border-radius: 0.4rem;
    font-size: 1.4rem;
    border: 0px solid white;
    cursor: pointer;
    color: #054879;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.themeButton {
    position: relative;
}

.themeButton.dark button {
    color: #054879;
    background-color: transparent;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.animate.dark {
    position: absolute;
    width: 0px;
    height: 0px;
    left: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 0.4rem;
    background-color: white;
    animation-name: darkAnimation;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; 
}

@keyframes darkAnimation {
    from {
        width: 0px;
        height: 0px;
    }

    to {
        width: 100%;
        height: 100%;
    }
}

.animate.light {
    position: absolute;
    width: 0px;
    height: 0px;
    right: 0;
    top: 0;
    z-index: -1;
    border-radius: 0.4rem;
    background-color: black;
    animation-name: lightAnimation;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode:forwards; 
}

@keyframes lightAnimation {
    from {
        width: 0px;
        height: 0px;
    }

    to {
        width: 100%;
        height: 100%;
    }
}

.themeButton.light button {
    color: white;
    background-color: transparent;
}

.themeButton.light button:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/* mobile devices */

@media screen and (max-width: 576px) {
    .navbar .search input {
        height: 3.5rem;
        width: 10rem;
    }

    .navbar {
        justify-content: space-between;
        padding: 0.8rem 1rem;
    }
}


@media screen and (min-width: 576px) and (max-width: 768px) {
    .navbar .search input {
        height: 3.5rem;
        width: 15rem;
    }

    .navbar {
        justify-content: space-between;
        padding: 0.8rem 1rem;
    }

}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .navbar .search input {
        height: 3.5rem;
        width: 20rem;
    }
}